header {
  background-color: cadetblue;
}
label {
  display: flex;
  justify-content: space-between;
}
input {
  display: block;
}
li {
  width: 150px;
  font-size: 13px;
  border: 1px solid #333;
  list-style: none;
  text-align: center;
}
#movie-list {
  margin-top: 50px;
  display: flex;
}
.hide {
  display: none;
}
